<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Adoptions</h2>
          <ol>
            <li><a href="index">Acceuil</a></li>
            <li>Adoptions</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

        </div>
          <button type="button" class="btn btn-success " data-toggle="modal" data-target="#addModal" id="addButton">Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Surnom de l'animal</th>
                   <th>Date de naissance présumée</th>
                   <th>Poid en grammes</th>
                   <th>antecedent</th>
                   <th>propriétaire</th>

              </thead>
              <tbody>
                  <tr th:each="animal:${animaux}">
                      <td th:text="${animal.surnom}"></td>
                      <td th:text="${#dates.format(animal.dateNaissance, 'dd-MM-yyyy')}"></td>
                      <td th:text="${animal.poid}"></td> 
                      <td th:value="${animal.getAntecedents()}"></td>                      
                      <td th:name="${animal.getPersonne()}"></td>                      

                  </tr>
              </tbody>
              
          </table>

      </div>
    </section>

  </main><!-- End #main -->

<div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
</body>

</html>
