<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Antecedents</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Antecedents</li>
          </ol>
        </div>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" id="addButton">Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                    <th>Date de l'antecedent</th>
                   <th>Antecedent de l'animal</th>  
                   <th>Description de ses antecedents</th>

              </thead>
              <tbody>
                  <tr th:each="antecedent:${antecedents}">
                      <td th:text="${#dates.format(antecedent.age, 'dd-MM-yyyy')}"></td>
                      <td th:text="${antecedent.antece}"></td>
                      <td th:text="${antecedent.description}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/antecedents/findById/(id=${antecedent.idAntecedent})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/antecedents/findById/(id=${antecedent.idAntecedent})}" class=" btn btn-success" id="detailsButton">détails</a>
                              <a th:href="@{/antecedents/delete/(id=${antecedent.idAntecedent})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
        <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un antecedent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/antecedents/addNew}" method="post">             

        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Date de l'antecedent</label>
           <input type="date" class="form-control" id="recipient-name"name="age">
        </div>          
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Antecedent de l'animal</label>
           <input type="text" class="form-control" id="recipient-name"name="antece">
        </div>
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Description de ses antecedents</label>
           <textarea type="text" class="form-control" id="recipient-name"name="description"></textarea>
        </div>   
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
            
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </div>          

        </form>
    </div>
    </div>
  </div>
</div>
        <!-- bouton modifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une adoption</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/antecedents/update}" method="put">  
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un antecedent</label>
          <input type="text" class="form-control" id="idAntecedentEdit"name="idAntecedent" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de l'antecedent</label>
          <input type="date" class="form-control" id="ageAntecedentEdit"name="age">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Antecedent de l'animal</label>
          <input type="text" class="form-control" id="anteceAntecedentEdit"name="antece">
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Description de ses antecedents</label>
          <textarea type="text" class="form-control" id="descriptionAntecedentEdit"name="description"></textarea>
        </div>        
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton detail pour les lignes-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/antecedents/update}" method="put">  
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'un antecedent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un antecedent</label>
          <input type="text" class="form-control" id="idAntecedentDetail"name="idAntecedent" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de l'antecedent</label>
          <input type="date" class="form-control" id="ageAntecedentDetail"name="age">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Antecedent de l'animal</label>
          <input type="text" class="form-control" id="anteceAntecedentDetail"name="antece">
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Description de ses antecedents</label>
          <textarea type="text" class="form-control" id="descriptionAntecedentDetail"name="description"></textarea>
        </div>        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
  <script src="assets/js/antecedent.js"></script>


</body>

</html>
