<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Consultations</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Consultations</li>
          </ol>
        </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" id="addButton">+</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Date</th>
                   <th>Heure debut</th>
                   <th>Heure Fin</th>
                   <th>Motif</th>
                   <th>tarif de Groupe</th>

              </thead>
              <tbody>
                  <tr th:each="consultation:${consultations}">
                      <td th:text="${#dates.format(consultation.date, 'dd-MM-yyyy')}"></td>
                      <td th:text="${#dates.format(consultation.heureDebut, 'hh:mm:ss')}"></td>
                      <td th:text="${#dates.format(consultation.heureFin, 'hh:mm:ss')}"></td>
                      <td th:text="${consultation.motif}"></td>
                      <td th:text="${consultation.tarifGroupe}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/consultations/findById/(id=${consultation.idConsultation})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/consultations/findById/(id=${consultation.idConsultation})}" class=" btn btn-success" id="detailsButton">détails</a>
                              <a th:href="@{/consultations/delete/(id=${consultation.idConsultation})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
        <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un consultation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/consultations/addNew}" method="post">             

        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Date</label>
           <input type="date" class="form-control" id="recipient-name"name="date">
        </div>          
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Heure du debut de la consultation</label>
           <input type="time" class="form-control" id="recipient-name"name="heureDebut" mini="09:00" max="19:00">
        </div>
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Heure de fin présumé de la consultation</label>
           <input type="time" class="form-control" id="recipient-name"name="heureFin" mini="09:00" max="19:00">
        </div>  
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Motif de la consultation</label>
          <textarea type="text" class="form-control" id="recipient-name"name="motif"></textarea>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un consultation</label>
          <input type="number" step=0.01 class="form-control" id="recipient-name"name="tarifGroupe">
        </div> 
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
            
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </div>          

        </form>
    </div>
    </div>
  </div>
</div>
        <!-- bouton modifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une adoption</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/consultations/update}" method="put">  
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date</label>
          <input type="text" class="form-control" id="idConsultationEdit"name="idConsultation" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de la consultation</label>
          <input type="date" class="form-control" id="dateConsultationEdit"name="date">
        </div>   
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Heure debut de la consultation</label>
          <input type="time" class="form-control" id="heureDebutConsultationEdit"name="heureDebut" mini="09:00" max="19:00">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Heure fin de la consultation</label>
          <input type="time" class="form-control" id="heureFinConsultationEdit"name="heureFin" mini="09:00" max="19:00">
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Motif de la consultation</label>
          <textarea type="text" class="form-control" id="motifConsultationEdit"name="motif"></textarea>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Motif de la consultation</label>
          <input type="number" step=0.01 class="form-control" id="tarifGroupeConsultationEdit"name="tarifGroupe">
        </div>  
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton detail pour les lignes-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/consultations/update}" method="put">  
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'un consultation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date</label>
          <input type="text" class="form-control" id="idConsultationDetail"name="idConsultation" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de la consultation</label>
          <input type="date" class="form-control" id="dateConsultationDetail"name="date">
        </div>   
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Heure debut de la consultation</label>
          <input type="time" class="form-control" id="heureDebutConsultationDetail"name="heureDebut" mini="09:00" max="19:00">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Heure fin de la consultation</label>
          <input type="time" class="form-control" id="heureFinConsultationDetail"name="heureFin" mini="09:00" max="19:00">
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Motif de la consultation</label>
          <textarea type="text" class="form-control" id="motifConsultationDetail"name="motif"></textarea>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Motif de la consultation</label>
          <input type="number" step=0.01 class="form-control" id="tarifGroupeConsultationDetail"name="tarifGroupe">
        </div>       
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->

<div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
  <script src="assets/js/consultation.js"></script>


</body>

</html>
