<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Factures</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Factures</li>
          </ol>
        </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" id="addButton">+</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Date de la facture</th>
                   <th>Mode de reglement</th>
                   <th>Date du reglement du payment</th>
                   <th>Total de la facture</th>
                   <th>Total toute taxe comprise</th>

              </thead>
              <tbody>
                  <tr th:each="facture:${factures}">
                      <td th:text="${#dates.format(facture.date, 'dd-MM-yyyy')}"></td>
                      <td th:text="${facture.modeReglement}"></td>
                      <td th:text="${#dates.format(facture.dateReglement, 'dd-MM-yyyy')}"></td>
                      <td th:text="${facture.total}"></td>
                      <td th:text="${facture.totalTTC}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/factures/findById/(id=${facture.idFacture})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/factures/findById/(id=${facture.idFacture})}" class=" btn btn-success" id="detailsButton">détails</a>
                              <a th:href="@{/factures/delete/(id=${facture.idFacture})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
        <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un facture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/factures/addNew}" method="post">             
        
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Date de la facture</label>
           <input type="date" class="form-control" id="aujourdhui" name="date">
        </div>  
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">moyen de payement</label>
           <input type="text" class="form-control" id="recipient-name"name="modeReglement">
        </div>  
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Date du payement</label>
           <input type="date" class="form-control" id="recipient-name"name="dateReglement">
        </div>
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Total de la facture Hors taxe</label>
           <input type="text" class="form-control" id="recipient-name"name="total">
        </div>         
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Total de la facture toute taxe comprise</label>
           <input type="text" class="form-control" id="recipient-name"name="totalTTC">
        </div>   
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
            
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </div>          

        </form>
    </div>
    </div>
  </div>
</div>
        <!-- bouton modifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une facture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/factures/update}" method="put">  
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Identifiant de la facture</label>
          <input type="text" class="form-control" id="idFactureEdit"name="idFacture" readonly>
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de la facture</label>
          <input type="date" class="form-control" id="dateFactureEdit"name="date" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Moyen de payement</label>
          <input type="text" class="form-control" id="modeReglementFactureEdit"name="modeReglement">
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de payement</label>
          <input type="date" class="form-control" id="dateReglementFactureEdit"name="dateReglement">
        </div>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Total de la facture</label>
          <input type="text" class="form-control" id="totalFactureEdit"name="total">
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Total de la facture toute taxe comprise</label>
          <input type="text" class="form-control" id="totalTTCFactureEdit"name="totalTTC">
        </div> 
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton detail pour les lignes-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/factures/update}" method="put">  
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'une facture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'une facture</label>
          <input type="text" class="form-control" id="idFactureDetail"name="idFacture" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date de la facture</label>
          <input type="date" class="form-control" id="dateFactureDetail"name="date">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Moyen de payement</label>
          <input type="text" class="form-control" id="modeReglementFactureDetail"name="modeReglement">
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date du payement</label>
          <input type="date" class="form-control" id="dateReglementFactureDetail"name="dateReglement">
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Total de la facture</label>
          <input type="text" class="form-control" id="totalFactureDetail"name="total">
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Total de la facture taxe toute comprise</label>
          <input type="text" class="form-control" id="totalTTCFactureDetail"name="totalTTC">
        </div> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->
    <div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
  <script src="assets/js/facture.js"></script>



</body>

</html>
