<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Formulaires</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>formulaires</li>
          </ol>
        </div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" >Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Date d'émission du formulaire</th>
                   <th>Motif de l'Adoption</th>
                   <th>Modification</th>
                </tr>
              </thead>
              <tbody>
                  <tr th:each="formulaire:${formulaires}">
                      <td th:text="${#dates.format(formulaire.dateFormulaire, 'dd-MM-yyyy')}"/></td>
                      <td th:text="${formulaire.raison}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/formulaires/findById/(id=${formulaire.idFormulaire})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/formulaires/findById/(id=${formulaire.idFormulaire})}" class=" btn btn-success" id="detailsButton">détails</a>
                              <a th:href="@{/formulaires/delete/(id=${formulaire.idFormulaire})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
    <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/formulaires/addNew}" method="post">   
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un formulaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Date d'emission du formulaire</label>
          <input type="date" class="form-control" id="recipient-name"name="dateFormulaire">
        </div>          
         <div class="form-group">
          <label for="recipient-name" class="col-form-label">Motivation de l'adoption</label>
          <textarea type="text" class="form-control" id="recipient-name"name="raison"></textarea>
        </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
      </div>

    </div>
  </div>
</div>
        <!-- bouton modifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une adoption</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form th:action="@{/formulaires/update}" method="put">  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Numero du formulaire</label>
            <input type="text" class="form-control" id="idFormulaireEdit"name="idFormulaire" readonly>
          </div> 
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Date d'émission du formulaire</label>
            <input type="date" class="form-control" id="dateFormulaireEdit"name="dateFormulaire">
          </div>          
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">Motivation de l'Adoption</label>
            <textarea type="text" class="form-control" id="raisonFormulaireEdit"name="raison"></textarea>
          </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>

    </div>
  </div>
</div>
<!-- bouton detail pour les lignes-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/formulaires/update}" method="put">  
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'un formulaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Numero du formulaire</label>
            <input type="text" class="form-control" id="idFormulaireDetail"name="idFormulaire" readonly>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Date d'émission du formulaire</label>
            <input type="date" class="form-control" id="dateFormulaireDetail"name="dateFormulaire">
        </div>          
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Motivation de l'adoption</label>
            <textarea type="text" class="form-control" id="raisonFormulaireDetail"name="raison"></textarea>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Date de l'adoption</label>
            <input type="text" class="form-control" id="dateAdoptionDetail"name="dateAdoption">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Frais de l'adoption</label>
            <input type="text" class="form-control" id="fraisAdoptionDetail"name="frais">
        </div>
        </form>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>

    </div>
  </div>
</div>
<!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->
<div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
  <script src="assets/js/formulaire.js"></script>


</body>

</html>
