<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des fournisseurs</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Fournisseur</li>
          </ol>
        </div>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" id="addButton">Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Nom</th>
                   <th>Adresse</th>
                   <th>Numero de TVA</th>
                   <th>Adresse email</th>
                   <th>Téléphone</th>
                   <th>Numéro de compte</th>

              </thead>
              <tbody>
                  <tr th:each="fournisseur:${fournisseurs}">
                      <td th:text="${fournisseur.nom}"></td>                      
                      <td th:text="${fournisseur.adresse}"></td>
                      <td th:text="${fournisseur.numTVA}"></td>
                      <td th:text="${fournisseur.adresseMail}"></td>
                      <td th:text="${fournisseur.telephone}"></td>
                      <td th:text="${fournisseur.numCompte}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/fournisseurs/findById/(id=${fournisseur.fournisseurId})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/fournisseurs/findById/(id=${fournisseur.fournisseurId})}" class=" btn btn-success" id="detailsButton">détails</a>
                              <a th:href="@{/fournisseurs/delete/(id=${fournisseur.fournisseurId})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
        <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un fournisseur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/fournisseurs/addNew}" method="post">             
           <div class="form-row">
                <div class="col">
                <label for="recipient-name" class="col-form-label">Nom</label>
                <input type="text" class="form-control" id="recipient-name"   name="nom">
                </div>
            <div class="col">
                <label for="recipient-name" class="col-form-label">numero de TVA</label>
                <input type="text" class="form-control" id="recipient-name" name="numTVA">
            </div>
            </div>
        <div class="form-row">
  </div>
   <div class="form-group">
   <label for="inputEmail4">Email</label>
   <input type="email" class="form-control" id="recipient-name" name="adresseMail">
  </div>
  <div class="form-group">
    <label for="inputAddress">Adresse</label>
    <textarea type="text" class="form-control" id="recipient-name" name="adresse"></textarea>
  </div>
            <div class="form-row">
                <div class="col">
                    <label for="recipient-name" class="col-form-label">Numéro de téléphone</label>
                    <input type="text" class="form-control" id="recipient-name"   name="telephone">
                </div>
            <div class="col">
                <label for="recipient-name" class="col-form-label">Numéro de compte</label>
                <input type="text" class="form-control" id="recipient-name" name="numCompte">
            </div>
        </div>  
            
      <div class="modal-footer">
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
    </div>
    </div>
  </div>
</div>
        <!-- bouton modifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier un Fournisseur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/fournisseurs/update}" method="put">  
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un fournisseur</label>
          <input type="text" class="form-control" id="fournisseurIdEdit" name="fournisseurId" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Nom du fournisseur</label>
          <input type="text" class="form-control" id="nomFournisseurEdit" name="nom">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Adresse du fournisseur</label>
          <textarea type="text" class="form-control" id="adresseFournisseurEdit" name="adresse"></textarea>
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero de TVA du fournisseur</label>
          <input type="text" class="form-control" id="numTVAFournisseurEdit" name="numTVA">
        </div>        
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Telephone du fournisseur</label>
          <input type="text" class="form-control" id="telephoneFournisseurEdit" name="telephone">
        </div>      
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Adresse email du fournisseur</label>
          <input type="text" class="form-control" id="adresseMailFournisseurEdit" name="adresseMail">
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero de compte du fournisseur</label>
          <input type="text" class="form-control" id="numCompteFournisseurEdit" name="numCompte">
        </div>     
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton detail pour les lignes-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/fournisseurs/update}" method="put">  
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'un fournisseur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un fournisseur</label>
          <input type="text" class="form-control" id="fournisseurIdDetail" name="fournisseurIdDetail" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Nom du fournisseur</label>
          <input type="text" class="form-control" id="nomFournisseurDetail" name="nom">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Adresse du fournisseur</label>
          <textarea type="text" class="form-control" id="adresseFournisseurDetail" name="adresse"></textarea>
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero de TVA du fournisseur</label>
          <input type="text" class="form-control" id="numTVAFournisseurDetail" name="numTVA">
        </div>        
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Telephone du fournisseur</label>
          <input type="text" class="form-control" id="telephoneFournisseurDetail" name="telephone">
        </div>      
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Adresse email du fournisseur</label>
          <input type="text" class="form-control" id="adresseMailFournisseurDetail" name="adresseMail">
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero de compte du fournisseur</label>
          <input type="text" class="form-control" id="numCompteFournisseurDetail" name="numCompte">
        </div>       
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->
<div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
  <script src="assets/js/fournisseur.js"></script>



</body>

</html>
