<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Medicaments</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Medicaments</li>
          </ol>
        </div>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" id="addButton">Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                    <th>Nom du médicament</th>
                   <th>Dosage du médicament</th>  
                   <th>Usage du medicament</th>

              </thead>
              <tbody>
                  <tr th:each="medicament:${medicaments}">
                      <td th:text="${medicament.nom}"></td>
                      <td th:text="${medicament.dosageMedic}"></td>
                      <td th:text="${medicament.usageMedic}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/medicaments/findById/(id=${medicament.id})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/medicaments/findById/(id=${medicament.id})}" class=" btn btn-success" id="detailsButton">détails</a>
                              <a th:href="@{/medicaments/delete/(id=${medicament.id})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
        <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un medicament</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/medicaments/addNew}" method="post">             
         
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Nom du medicament</label>
           <input type="text" class="form-control" id="recipient-name"name="nom">
        </div>
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Dosage du medicament</label>
           <input type="text" class="form-control" id="recipient-name"name="dosageMedic">
        </div>
        <div class="form-group">
           <label for="recipient-name" class="col-form-label">Usage du medicament</label>
           <textarea type="text" class="form-control" id="recipient-name"name="usageMedic"></textarea>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
            
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </div>          

        </form>
    </div>
    </div>
  </div>
</div>
        <!-- bouton modifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier un Medicament</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/medicaments/update}" method="put">  
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un medicament</label>
          <input type="text" class="form-control" id="idEdit"name="id" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Nom du médicament</label>
          <input type="text" class="form-control" id="nomMedicamentEdit"name="nom">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Dosage du médicament </label>
          <input type="text" class="form-control" id="dosageMedicMedicamentEdit"name="dosageMedic">
        </div>            
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Usage du médicament</label>
          <textarea type="text" class="form-control" id="usageMedicMedicamentEdit"name="usageMedic"></textarea>
        </div>        
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton detail pour les lignes-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form th:action="@{/medicaments/update}" method="put">  
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details du medicament</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Numero d'identifiant d'un Médicament</label>
          <input type="text" class="form-control" id="idDetail"name="id" readonly>
        </div> 
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Référence de l'article</label>
          <input type="text" class="form-control" id="nomMedicamentDetail"name="nom">
        </div>          
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Medicament de l'animal</label>
          <input type="text" class="form-control" id="dosageMedicMedicamentDetail"name="dosageMedic">
        </div>          
         <div class="form-group">
          <label for="recipient-name" class="col-form-label">Quantité dans le stock</label>
          <input type="text" class="form-control" id="usageMedicMedicamentDetail"name="usageMedic">
        </div>                
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->
    <div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>

</body>

</html>
