<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
     <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Posologies</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Posologies</li>
          </ol>
        </div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" id="addButton">Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Identifiant Posologie</th>
                   <th>Dosage</th>
                   <th>Usage</th>                   
                   <th>Modification</th>
                </tr>
              </thead>
              <tbody>
                  <tr th:each="posologie:${posologies}">
                      <td th:text="${posologie.idPosologie}"></td>
                      <td th:text="${posologie.dosage}"></td>
                      <td th:text="${posologie.usage}"></td>
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/posologies/findById/(id=${posologie.idPosologie})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/posologies/findById/(id=${posologie.idPosologie})}" class=" btn btn-success" id="detailButton">détails</a>
                              <a th:href="@{/posologies/delete/(id=${posologie.idPosologie})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une posologie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/posologies/addNew}" method="post">
        <div>
        <div class='form-group'>
            <label for="ddlPrescriptionAdd" class="col-form-label">Prescription:</label>
            <select class="form-control" id="ddlPrescriptionAdd" name="prescriptionId">
                <option>-SELECTIONNER-</option>
                <option th:each="prescription:${prescriptions}"
                    th:value="${prescription.id}"
                    th:text="${prescription.id}">   
                </option>
            </select>   
        </div>
        </div>
            <div>
            <div class='form-group'>
            <label for="ddlMedicamentAdd" class="col-form-label">Medicament:</label>
            <select class="form-control" id="ddlMedicamentAdd" name="medicamentId">
                <option>-SELECTIONNER-</option>
                <option th:each="medicament: ${medicaments}"
                    th:value="#{${medicament.id}}"
                    th:text="${medicament.nom}">   
                </option>
            </select>   
        </div>
            </div>
            
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Dosage</label>
                <input type="text" class="form-control" id="recipient-name"name="dosage">
            </div>          
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">usage</label>
            <textarea type="text" class="form-control" id="recipient-name"name="usage"></textarea>
          </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        <!-- bouton moddifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une posologie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form th:action="@{/posologies/update}" method="put">  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">dosage du medicament</label>
            <input type="date" class="form-control" id="dosageMedicEdit"name="dosageMedic">
          </div>          
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">usage du medicament</label>
            <input type="text" class="form-control" id="usageMedicEdit"name="usageMedic">
          </div> 
              <label for="recipient-name" class="col-form-label">Dosage</label>
                <input type="text" class="form-control" id="dosage"name="dosage">
            </div>          
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">Frais d'posologie</label>
            <textarea type="text"  class="form-control" id="usage"name="usage"></textarea>
          </div>
          <div class="form-group">
               
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
      </div>

    </div>
  </div>
</div>
        <!-- bouton detail pour les lignes-->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'une posologie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form th:action="@{/posologies/update}" method="put">  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">dosage du medicament</label>
            <input type="date" class="form-control" id="dosageMedicEdit"name="dosageMedic">
          </div>          
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">usage du medicament</label>
            <input type="text" class="form-control" id="usageMedicEdit"name="usageMedic">
          </div> 
              <label for="recipient-name" class="col-form-label">Dosage</label>
                <input type="text" class="form-control" id="dosage"name="dosage">
            </div>          
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">Frais d'posologie</label>
            <textarea type="text"  class="form-control" id="usage"name="usage"></textarea>
          </div>
        </form>
          
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>

    </div>
  </div>
</div>
          <!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main><!-- End #main -->

<div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
</body>

</html>
