<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"/>

<head th:replace="/commun/header :: commun-header"> 
</head>

<body>
    <div th:replace="/commun/header :: navbar">
        
    </div><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Liste des Services</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Services</li>
          </ol>
        </div>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" id="addButton">Ajouter</button>
          <table class="table">
              <thead>
                <tr>
                   <th>Identifiant du service</th>
                   <th>Nom du service</th>
                </tr>
              </thead>
              <tbody>
                  <tr th:each="service:${services}">
                      <td th:text="${service.idService}"></td>
                      <td th:text="${service.type}"></td>                
                      <td>
                          <div class="btn-group"> 
                              <a th:href="@{/services/findById/(id=${service.idService})}" class=" btn btn-primary" id="editButton">éditer</a>
                              <a th:href="@{/services/findById/(id=${service.idService})}" class=" btn btn-success" id="detailButton">détails</a>
                              <a th:href="@{/services/delete/(id=${service.idService})}" class=" btn btn-danger" id="deleteButton">supprimer</a>
                          </div>
                      </td>
                  </tr>
              </tbody>
              
          </table>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          
        </p>
      </div>
    </section>
    <!-- bouton ajouter-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form th:action="@{/services/addNew}" method="post">                  
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">type du service</label>
            <input type="text" class="form-control" id="recipient-name"name="type">
          </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        <!-- bouton moddifier pour les lignes-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier une service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form th:action="@{/services/update}" method="put">  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Identifiant du Service</label>
            <input type="text" class="form-control" id="idServiceVEdit"name="idService" readonly>
          </div>        
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">Type du Service</label>
            <input type="text" class="form-control" id="typeServiceVEdit"name="type">
          </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier</button>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
      </div>

    </div>
  </div>
</div>
        <!-- bouton detail pour les lignes-->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details d'un service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form th:action="@{/services/update}" method="put">  
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Identifiant du Service</label>
            <input type="text" class="form-control" id="idServiceVDetail"name="idService" readonly>
          </div>         
            <div class="form-group">
            <label for="recipient-name" class="col-form-label">Type du Service</label>
            <input type="text" class="form-control" id="typeServiceVDetail"name="type">
          </div>
        </form>
          
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>

    </div>
  </div>
</div>
          <!-- bouton supprimer pour les lignes-->  
 <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer cette ligne ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">non</button>
        <a class="btn btn-primary" id="confirmDeleteButton" href="">supprimer</a>
      </div>
    </div>
  </div>
</div>
  </main>
    
     <div th:replace="/commun/header :: footer">
        
    </div>
  <!-- ======= Footer ======= -->
    <div th:replace="/commun/header :: body-bottom-script">
        
    </div>
  <script src="assets/js/service.js"></script>


</body>

</html>
